<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
</head>

<script>

    $(document).ready(function(){
  if(window.innerWidth < 600){
    $('.sect').addClass('col-6 col-md-7');
    $('.sect1').addClass('col-6 col-md-7');
console.log("innerwidth" , window.innerWidth)
  }
});

</script>

<body>
<div style="width:100%">
<div class="row g-5 m-1 mt-n3">
    {% for product in products %}
    <div class="col-lg-3 col-sm-4 col-xs-12 d-flex align-items-stretch mt-3">

        <div class="card padding-0 h-100" style="  border-radius: 15px; ">


            <a href="/products/{{product.id}}">
                <div class="row no-gutters">
                    <div class="sect">
                        {% if product.image %}
                        <img class="card-img-top img-fluid p-2" src="{{product.image.url}}" alt="Card image cap"
                             style="border-radius: 15px;">
                        {% endif %}
                    </div>
                    <div class="sect1" style ="font-size: 12px">
                        <div class="card-body" style="font-family: Avenir; ">
                            <div class="card-title"><b>{{product.name}}</b></div>
                            <p class="card-text" style="color: rgba(93,93,93,1)">{{product.description | slice:":60" | add:"..."}}</p>
                            <div style="text-align: right"><b>$ {{product.price}}</b></div>
                        </div>
                    </div>
                </div>


            </a>


        </div>

    </div>
    {% endfor %}
    </div>

</div>
</body>
</html>