.mediaViewInfo {
	--web-view-name: Shop;
	--web-view-id: Shop;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Shop;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#parent {
width: 100%;
}
#Shop {
	position: relative;
	width: 100%;
	background-color: rgba(255,255,255,1);
	--web-view-name: Shop;
	--web-view-id: Shop;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Navbar {
	position: relative;
	width: 100%;
	height: 110px;
	left: 0px;
	top: 0px;
	right: 0px;
	overflow: visible;

}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: relative;
	overflow: visible;
	width: 100%;
	height: 128px;
	left: 0px;
	top: 0px;
}
#E-BUY {
	left: 49px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(203,42,42,1);
}
#Shop_n {
	left: 210px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,93,93,1);
}
#About_us {
	left: 328px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,93,93,1);
}
#Blog {
	left: 491px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,93,93,1);
}
#Icon_ionic-ios-cart {
	position: absolute;
	width: 36.814px;
	height: 34.004px;
	right: 340.549px;
	top: 35.996px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(93,93,93,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 4.249px;
	height: 4.249px;
	left: 7.782px;
	top: 29.754px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(93,93,93,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 4.249px;
	height: 4.249px;
	left: 27.656px;
	top: 29.754px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(93,93,93,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 36.814px;
	height: 28.329px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-md-arrow-dropdown {
	fill: rgba(93,93,93,1);
}
.Icon_ionic-md-arrow-dropdown {
	overflow: scroll;
	position: absolute;
	width: 18px;
	height: 9px;
	right: 60px;
	top: 45px;
	transform: matrix(1,0,0,1,0,0);
}
#Logged_in_as {
	right: 150px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: lighter;
	font-size: 22px;
	color: rgba(93,93,93,1);
}
#Gmail_login {
	right: 150px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(93,93,93,1);
}

#Username {
	right: 140px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(93,93,93,1);
}

/* product detail page */
#Product {
	position: absolute;
	width: 1920px;
	height: 2352px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Product;
	--web-view-id: Product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Group_4 {
	position: absolute;
	width: 50%;
	height: 584.863px;
	left:12%;
	top: 20px;
	overflow: visible;
}
#Path_4 {
	opacity: 0.309;
	fill: rgba(232,231,231,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 1295.746px;
	height: 584.863px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 521px;
	height: 478px;
	left: 112.396px;
	top: 56.431px;
}
#product_name {
	left: 698.396px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(93,93,93,1);
}
#description {
	left: 698.396px;
	top: 135px;
	position: absolute;
	overflow: visible;
	width: 520px;
	height: 107px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: lighter;
	font-size: 25px;
	color: rgba(93,93,93,1);
}
#price {
	left: 698.396px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(93,93,93,1);
}
#Rectangle_6 {
	fill: rgba(237,96,109,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 56px;
	left: 698.396px;
	top: 458px;
}
#Rectangle_12 {
	fill: rgba(93,93,93,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 56px;
	left: 914.396px;
	top: 458.5px;
}
#Add_to_cart {
	left: 724.396px;
	top: 471px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#Checkout {
	left: 958.396px;
	top: 471px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#Group_1 {
	position: absolute;
	width: 177px;
	height: 45px;
	left: 701.396px;
	top: 380px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 61px;
	height: 60px;
	left: 0px;
	top: 3px;
}
#n_ {
	left: 81px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(93,93,93,1);
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 0.20000000298023224px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 61px;
	height: 60px;
	left: 134px;
	top: 0px;
}
#n__ {
	left: 18px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(93,93,93,1);
}
#Text {
	left: 148px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(93,93,93,1);
}
#Group_3 {
	position: absolute;
	width: 50%;
	height: 71.663px;
	left: 15%;
	top: 620.802px;
	overflow: visible;
}
#Path_5 {
	opacity: 0.309;
	fill: rgba(250,236,173,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 1295.746px;
	height: 71.663px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-cart2 {
	position: absolute;
	width: 30.194px;
	height: 27.889px;
	left: 428.688px;
	top: 22.188px;
	overflow: visible;
}
#Path_6 {
	fill: rgba(0,0,0,1);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 3.485px;
	height: 3.485px;
	left: 6.382px;
	top: 24.403px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: rgba(0,0,0,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 3.485px;
	height: 3.485px;
	left: 22.682px;
	top: 24.403px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: rgba(0,0,0,1);
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 30.194px;
	height: 23.234px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n__of_this_product_is_already_ {
	left: 482.057px;
	top: 18.831px;
	position: absolute;
	overflow: visible;
	width: 386px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(93,93,93,1);
}

a, a:hover{
text-decoration: none;
color: inherit;
}
